{% extends "base.html" %}
{% block content %}
  <h1> {{ school.name }} </h1>
  <h2>List of Student names and GPA</h2>
 
    <table style="width:100%">
      
      <tr>
        <th>Student name</th>
        <th>Student ID</th>
        <th>GPA</th>
      </tr>
      {% for student in school.get_students() %}
      <tr>
        <td><a href= "{{ url_for('student', student_id=student.student_id)}}"> {{ student.name }}</a> </td>
        <td> {{ student.student_id }}</td>
        <td> {{ student.gpa }} </td>
      </tr>
      {% endfor %}
      
    </table>

    <table style="width:100%">
{% endblock %}